.postMock{
    width: 18%;
    border-radius: 10px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
.dark .postMock {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.imageMock{
    margin: 10px;
    height: 250px;
    border-radius: 8px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
.dark .imageMock {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}
.postMock h1 {
    width: 100%;
    height: 20px;
    border-radius: 8px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark .postMock h1 {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.postMock p {
    width: 80%;
    height: 20px;
    border-radius: 8px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
.dark .singlePostContentMock p {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
    background-size: 400% 400%;
}

.postMock span {
    width: 20%;
    height: 20px;
    border-radius: 8px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
.dark .postMock span {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
    background-size: 400% 400%;
}
.dark .postContent p {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
    background-size: 400% 400%;
}

.commentsMock{
    width: 20%;
    height: 20px;
    border-radius: 8px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark .commentsMock {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
    background-size: 400% 400%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 1500px) {
    .postMock{
        width: 25%;
    }
}

@media screen and (max-width: 1200px) {
    .postMock{
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    .postMock{
        width: 100%;
    }
}