.singlePost{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 30px;
}
.singlePost a {
    margin: 15px 0;
    color: black;
}
.singlePostContent{
    display: flex;
    flex-direction: column;
}
.singleHeader h1 {
    margin: 0px;
}

.singleHeader{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    color: white;
    background-position: 50% 50%;
    background-size: cover;
}
.singleCategory{
    margin-bottom: 10px;
    font-weight: bold;
}

.singleCategory span{
    font-weight: normal;
}
.tag{
    padding: 4px;
    border-radius: 10px;
    background: #dcb639;
    margin: 0 5px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.tag:hover{
    transition: 0.3s;
    box-shadow: 0px 0px 15px -2px #ddb639;
}

.singleComments{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
}
.singleComment{
    border-radius: 10px;
    background: #f8f8f8;
    padding: 10px;
    margin-bottom: 15px;
}
.singleComment div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.commentForm{
    margin-top: 50px;
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.commentForm h1{
    font-size: 1.5rem;
}

.commentForm div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commentForm div label{
    font-weight: bold;
}

.commentForm div input {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
}

.commentForm div textarea {
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    resize: none;
    height: 100px;
    font-family: 'Roboto', cursive;
}

.commentForm button {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid black;
    background: white;
    font-weight: bold;
    transition: 0.3s;
}

.commentForm button:hover {
    transition: 0.3s;
    background: #dcb639;
    color: white;
    border: 2px solid #dcb639;
}

.commentForm div input:focus {
   outline: none;
}

.commentForm div textarea:focus {
   outline: none;
}