.posts{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.posts table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse:collapse;
    text-align: left;
    margin-top: 15px;
}

.posts table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;

    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
}
.posts table tbody th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.posts table tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.action {
    display: flex;
    gap: 5px;
}
.title{
    width: 80%;
}
.title a {
    color: #dcb639;
}