.App {
    display: flex;
    height: 100%;
    transition: 0.3s;
}
.dark{
    background: #4f4f4f;
    color: white!important;
}

.content{
    display: flex;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    overflow-y: scroll;
}
.fontRighteous {
    font-family: 'Righteous', cursive;
}
.fontRoboto{
    font-family: 'Roboto', cursive;
    display: flex;
    width: 100%;
}
.sideClosed{
    max-width: 400px;
}