@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap');

html {
  min-height: 100% !important;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
#root{
  height: 100%;
}