.singlePostContentMock{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-bottom: 30px;
}

.singleHeaderMock{
    display: flex;
    justify-content: space-between;
    align-items: end;
    border-radius: 10px;
    padding: 10px;
    height: 200px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
.dark .singleHeaderMock {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.dark .singleHeaderMock small {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.singleHeaderMock h1 {
    margin: 0px;
    width: 20%;
    height: 30px;
    border-radius: 10px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}
.dark .singleHeaderMock h1 {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.singleHeaderMock small {
    margin: 0px;
    width: 20%;
    height: 20px;
    border-radius: 10px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark .small {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.singlePostContentMock p {
    width: 100%;
    height: 100px;
    border-radius: 10px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark .singleHeaderMock p {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.singleCategoryMock {
    width: 25%;
    height: 20px;
    border-radius: 10px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark .singleCategoryMock {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.singlePostContentMock div b {
    width: 100%;
    height: 100px;
    border-radius: 10px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark .singleHeaderMock div b {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

.singleCommentMock{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 30px;
    border-radius: 10px;

    background: linear-gradient(-45deg, #ffffff, #dadada);
    background-size: 400% 400%;
    animation: gradient 2s ease infinite;
}

.dark .singleCommentMock {
    background: linear-gradient(-45deg, #646464, #4b4b4b)!important;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
